<!DOCTYPE HTML>
<html lang="en">
{% load staticfiles %}
{% load url from future %}
	<head>

		<!-- start: Meta -->
		<meta charset="utf-8">
		<title>Ignite | ignite your minds</title> 
		<meta name="description" content="Ignite | ignite your minds"/>
		<meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
		<meta name="author" content="Theme :Łukasz Holeczek from creativeLabs"/>
		<!-- end: Meta -->
		
		<!-- start: Mobile Specific -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- end: Mobile Specific -->
		
		<!-- start: Facebook Open Graph -->
		<meta property="og:title" content=""/>
		<meta property="og:description" content=""/>
		<meta property="og:type" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:image" content=""/>
		<!-- end: Facebook Open Graph -->

		<!-- start: CSS -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/cssstyle.css'%}" rel="stylesheet">
		<link href="{% static 'css/slider1.css'%}" rel="stylesheet">
		<link href="{% static 'css/slider2.css'%}" rel="stylesheet">
		<link href="{% static 'css/slider3.css'%}" rel="stylesheet">
		
		<!-- end: CSS -->

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>

	<body>

					<div class="span4 offset2">
						<div class="pricing-table">
							<div class="color-cccddd">
								<h3>For Schools</h3>
								<h4><span class="price">Register with us</span> <span class="time">You can add multiple students</span></h4>
									<form class="form-inline" action="" method='POST' id='sc_Form'>
										{% csrf_token %}
										{% if scForm.non_field_errors.0 %}
											<div class="alert-message block-message error">
												{{ scForm.non_field_errors }}
											</div>
										{% endif %}
										<ul>
											{% for field in scForm %}
												{% if field.is_hidden %}
													{{ field }}
												{% else %}
													<li>
														<div class="control-group{% if field.errors %} error{% endif %}">
														  <div class="controls">
															{{ field }}<br/>
															{% for error in field.errors %}
																<span class="help-inline">{{ error|escape }}</span>
															{% endfor %}
														  </div>
														</div>
													</li>
												{% endif %}
											{% endfor %}
										</ul>
										<input type="submit" class="buy btn-link" value="submit" /> 
								</form>
								<a href="javascript:{}" onclick="document.getElementById('sc_Form').submit(); return false;" class="buy"><span>Register</span></a>
							</div>
						</div>
					</div>


<form class="form-horizontal" id="registerHere" method='post' action=''>
<fieldset>

<legend>Registration</legend>

<div class="control-group">
<label class="control-label">Name</label>
<div class="controls">
<input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
</div>
</div>


<div class="control-group">
<label class="control-label">Email</label>
<div class="controls">
<input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
</div>
</div>

.............
.............

<div class="control-group">
<label class="control-label"></label>
<div class="controls">
<button type="submit" class="btn btn-success" >Create My Account</button>
</div>
</div>

</fieldset>
</form>
<!--
   <form action="" method="post">
		{% csrf_token %}
{% if scForm.non_field_errors.0 %}
	<div class="alert-message block-message error">
		{{ scForm.non_field_errors }}
	</div>
{% endif %}

{% for field in scform %}
	{% if field.is_hidden %}
		{{ field }}
	{% else %}
		<div class="clearfix form-item {% if field.errors %}error{% endif %}">
			<label for="id_{{ field.name }}">
				{{ field.label }}: {% if field.field.required %}<span class="required">*</span>{% endif %}
			</label>
		
			<div class="input">
				<div class="input-wrapper">
					{{ field }}

					{% if field.errors %}
						<ul class="help">
							{% for error in field.errors %}
								<li class="help-inline">{{ error|escape }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				
					{% if field.help_text %}
						<div class="help-text">
							<p>{{ field.help_text }}</p>
						</div> 

					{% endif %}
				</div>
			</div
		</div>
	{% endif %}
{% endfor %}
 <div class="clearfix">
		   
		</div> 
	</form>-->

		<!-- start: Java Script -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/isotope.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.imagesloaded.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/flexslider.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/fancybox.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/twitter.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/modernizr.custom.79639.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.slitslider.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/excanvas.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.flot.pie.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.flot.stack.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.flot.resize.min.js' %}"></script>
	</body>
</html>